html,
body, 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root{  
 --lightblue: #2998ff;
 --darkblue: #135cc5;
 --light-red: #f87171;
 --primary: #e11f01;
 --h1: 7.594rem;
 --h2: 5.063rem;
 --h3: 3.375rem;
}

body{
  background-color: var(--primary);
}

h1{
  font-size:var(--h1);
}

h2{
  font-size:var(--h2);
}

h3{
  font-size:var(--h3);
}

.warm{
  --primary: var(--light-red)
}

.cool{
  --primary: var(--lightblue)
}

h1, h2, h3, h4, h5{
  text-align: center;
}